{{ block style }}
<style>
.otree-body {
    max-width:95%;
    margin: 0 auto
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.btn-container {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 20px;
		}

/* Style the title block */
h1 {
  font-size: 24px;
  margin-top: 0;
  border: 1px solid #ccc;
  padding: 10px;
}

p {
  margin-bottom: 10px;
}

/* Style the main container */
.main-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Style the text box */
.text-box {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Style the sub container */
.sub-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Style the calculator box */
.calculator-box {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Style the table box */
.table-box {
  flex-basis: 60%;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Style the table title */
.table-box h2 {
  margin-top: 0;
  font-size: 20px;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: center;
  border-bottom: 1px solid #ddd
}

/* Style the "No data available" message */
p.no-data {
  font-style: italic;
  color:}

</style>
{{ endblock }}

{{ block scripts}}
<script>
var sliderA = document.getElementById("sliderRangeA");
var sliderB = document.getElementById("sliderRangeB");
var outputA = document.getElementById("sliderFirmA");
var outputB = document.getElementById("sliderFirmB");

b1 = "";
b2 = "";
ProfitA = 0;
let firmAChoice = 0;
let firmBChoice = 0;
let is_it_en = js_vars.is_it_en;
console.log(is_it_en)
let prohPrice = 100;
bonus_fixed = 100;
//prohibitive price
let CONTRACT_TYPE_RP = false;
let gamma = 1;
if (is_it_en) {
  let message = 'Your firm is not making profits, your total compensation is 0. ';
} else {
  let message = 'Ihr Unternehmen erzielt keine Gewinne, Ihre Gesamtvergütung beträgt 0.';
}

/*
if (CONTRACT_TYPE_RP) {
  message_for_instructions='Your total compensation for this round is TOTAL COMP = (Your profit) + 100 + (Your profit - Profit of other firm)';
} else {
  message_for_instructions='Your total compensation for this round is TOTAL COMP = (Your profit) + 100';
}
message_instructions.innerHTML=message_for_instructions;
*/


sliderA.oninput = function() {
  outputA.innerHTML = this.value; // display value A in HTML
  firmAChoice = this.value * 1; // value A in slider
};
sliderB.oninput = function() {
  outputB.innerHTML = this.value; // display value B in HTML
  firmBChoice = this.value * 1; // value B in slider
};
[sliderA, sliderB].forEach(function(element) {
  element.addEventListener("input", function() {
    if (firmAChoice + firmBChoice < prohPrice) {
      profitA = (prohPrice - firmAChoice - firmBChoice) * firmAChoice;
      profitB = (prohPrice - firmAChoice - firmBChoice) * firmBChoice;
      if (CONTRACT_TYPE_RP) {
        firmBBonus = bonus_fixed + gamma * (profitB - profitA);
        total_compensation = profitB + firmBBonus;
        if (is_it_en) {
          message = 'Your firm`s profits are ' + profitB + '. Your bonus is ' + firmBBonus + '. Your total compensation is ' + total_compensation + '.';
        } else {
          message = 'Der Gewinn Ihres Unternehmens beträgt ' + profitB + '. Ihr Bonus beträgt ' + firmBBonus + '. Ihre Gesamtvergütung beträgt ' + total_compensation + '.';
        }

        if (total_compensation < 0) {
          total_compensation = 0;
          if (is_it_en) {
            message = 'Your bonus is negative and exceeds the profits. Your total compensation is 0.';
          } else {
            message = 'Ihr Bonus ist negativ und übersteigt den Gewinn. Ihre Gesamtvergütung ist 0.';
          }
        }
      } else {
        firmBBonus = bonus_fixed
        total_compensation = profitB + firmBBonus;
        if (is_it_en) {
          message = 'Your firm`s profits are ' + profitB + '. Your bonus is ' + firmBBonus + '. Your total compensation is ' + total_compensation + '.';
        } else {
          message = 'Der Gewinn Ihres Unternehmens beträgt ' + profitB + '. Ihr Bonus beträgt ' + firmBBonus + '. Ihre Gesamtvergütung beträgt ' + total_compensation + '.';
        }
      }
      if (firmBChoice == 0) {
        firmBBonus = 0;
        total_compensation = profitB + firmBBonus;
        if (is_it_en) {
          message = 'Your firm is not producing any quantity. Your bonus is 0. Your total compensation is 0.';
        } else {
          message = 'Ihr Unternehmen produziert keine Menge. Ihr Bonus ist 0. Ihre Gesamtvergütung ist 0.';
        }
      }
    } else {
      profitA = 0;
      profitB = 0;
      firmBBonus = 0;
      total_compensation = 0;
      if (is_it_en) {
        message = 'Total production is at the maximum of 100. Your total compensation is 0. ';
      } else {
        message = 'Die Gesamtproduktion ist auf dem Höchstwert von 100. Ihre Gesamtvergütung beträgt 0.';
      }
    }
    firmAProfit.innerHTML = profitA.toFixed(0);
    firmBProfit.innerHTML = profitB.toFixed(0);
    my_bonusFirmB.innerHTML = firmBBonus.toFixed(0);
    my_total_compensation.innerHTML = total_compensation.toFixed(0);
    messageContract.innerHTML = message;
  });
});


function calculateProfits(myOutput, otherOutput) {
  let myProfit, otherProfit;
  if (myOutput + otherOutput < prohPrice) {
    myProfit = myOutput * (100 - myOutput - otherOutput);
    otherProfit = otherOutput * (100 - myOutput - otherOutput);
  } else {
    myProfit = 0;
    otherProfit = 0;
  }
  return [myProfit, otherProfit];
}

function calculateCompensation(myProfit) {
  if (myProfit !== 0) {
    return myProfit + 100;
  } else {
    return 0;
  }
}

var chooseCount = 0;
total_compensation = 0;
if (is_it_en) {
  message_final_payoff = 'Please play at least 10 example games to see the final example payoffs. ';
} else {
  message_final_payoff = 'Bitte führen Sie mindestens 10 Übungsrunden aus, um die endgültigen Beispielauszahlungen zu sehen. ';
}


message_final.innerHTML = message_final_payoff;
document.getElementById('chooseBtn').addEventListener('click', function() {
  event.preventDefault();
  const userChoice = +document.getElementById('userChoice').value;
  const userChoiceOther = +document.getElementById('userChoiceOther').value;

  if (userChoice === "" || userChoice < 0 || userChoice > 70 || userChoiceOther === "" || userChoiceOther < 0 || userChoiceOther > 70) {
    if (is_it_en) {
      alert('Please enter a valid number between 0 and 70');
    } else {
      alert('Bitte geben Sie eine gültige Zahl zwischen 0 und 70 ein.');
    }
    return;
  }

  let otherFirmOutput;

  const [myProfit, otherProfit] = calculateProfits(userChoice, userChoiceOther);
  const myCompensation = calculateCompensation(myProfit);

  const newRow = document.createElement('tr');
  newRow.innerHTML = `
        <td>${userChoice}</td>
        <td>${userChoiceOther}</td>
        <td>${myProfit.toFixed(2)}</td>
        <td>${otherProfit.toFixed(2)}</td>
        <td>${myCompensation.toFixed(2)}</td>
      `;
  document.getElementById('results').appendChild(newRow);
  chooseCount = chooseCount + 1;
  if (chooseCount < 11) {
    total_compensation = total_compensation + myCompensation
  }
  if (chooseCount == 10) {
    var compensation_in_thousands = total_compensation / js_vars.EXCHANGE_RATE; // divide by 1000 to get the value in thousands
    var compensation_in_thousands_rounded = Math.round(compensation_in_thousands * 100) / 100; // round to the nearest 0.01
    var compensation_in_thousands_and_show = compensation_in_thousands_rounded + 5;
    if (is_it_en) {
      message_final_payoff = 'Your total compensation for the payoff relevant rounds(' + chooseCount + ') ' + total_compensation + ' experimental points. Your total payment is ' + compensation_in_thousands_rounded.toFixed(2) + ' EUR plus your participation fee of 5 EUR. Your final payment is ' + compensation_in_thousands_and_show.toFixed(2) + ' EUR. If you would like to try again, please refresh this page (press F5). ';
    } else {
      message_final_payoff = 'Ihre Gesamtentvergütung für die relevanten Auszahlungsrunden (' + chooseCount + ') beträgt ' + total_compensation + ' Experimental Points. Ihre Gesamtzahlung beträgt ' + compensation_in_thousands_rounded.toFixed(2) + ' EUR zuzüglich Ihrer Teilnahmegebühr von 5 EUR. Ihre endgültige Zahlung beträgt ' + compensation_in_thousands_and_show.toFixed(2) + ' EUR. Wenn Sie es erneut versuchen möchten, aktualisieren Sie bitte diese Seite (drücken Sie F5). ';
    }

    message_final.innerHTML = message_final_payoff;
  }
});
console.log(message_final_payoff)

</script>
{{ endblock }}




{{ block title }}
    <h1>{{ if en }} Information about setting, matching and compensation  {{ else }} Informationen: Hauptteil des Experiments {{ endif }}  </h1>
{{ endblock }}

{{ block content }}
{{ if en }}
<div class="table-box">
    <h3 style="font-size: 20px;"><b> Main part of the experiment </b></h3>
    In the main part of the experiment, you will be playing as a manager in 4 markets. Each market will last for several periods.
    <br>
    In each market you will be matched with a different participant. You will be given information about your contract, contract of the participant you are matched with, a calculator similar to the one on the previous page and details about the outcomes in the previous periods.
    <br>
    <h3 style="font-size: 20px;"><b> Your compensation </b></h3>
    After you have played four markets in the main part of the experiment, we will randomly select one market (out of 4) and pay you the total compensation you have earned in that market. In addition, you will also receive your participant fee (5 EUR).
    <br>
    <b>The experiment is using exchange rate of {{ EXCHANGE_RATE }} Experimental Points = 1 Euro.</b>
    <br>
    <br>
    <h3 style="font-size: 20px;"><b> Duration of the markets </b></h3>
    <ul>
          <li>You will make decisions in ten or more periods.</li>
          <li>Your compensation depends on whether the market exists or not.</li>
          <li>If the market ends before <b>10</b> periods, you will make decisions for ten periods, but only the periods until the market's end will be considered for your compensation.</li>
          <li>If the market ends after <b>10</b> periods, you will make decisions as long as the market exists, and all periods until the market's end will be considered for your compensation.</li>
          <li>In each period, the probability that the market continues to exist after that period is <b>90%</b>.</li>
          <li>This probability is determined as follows: for each period, the computer generates a random number between 1 and 10. If a number for a period is 10, then the market ends.</li>
    </ul>

    <h3 style="font-size: 20px;"><b> Example 1 of the compensation</b></h3>
    Suppose the random draw (which will not be shown to you until the end of the experiment) is [1,5,1,6,8,2,9,1,10]. In this example, you will play 10 rounds, but only the first 9 will be relevant for compensation. This happens because the random outcome 10 came at round 9.
    <br>
    Thus, you will receive the sum of compensations for the first 9 rounds.
    <h3 style="font-size: 20px;"><b> Example 2 of the compensation</b></h3>
    Suppose the random draw (which will not be shown to you until the end of the experiment) is [1,5,1,6,8,2,9,1,3,7,5,10]. In this example, you will play 12 rounds, and all rounds will be relevant for compensation. This happens because the random outcome 10 came at round 12.
    <br>
    Thus, you will receive the sum of compensations for all 12 rounds.
    <h3 style="font-size: 20px;"><b> Example of the market</b></h3>
    Below you can see an example of the market where you can choose quantities both for yourself and a hypothetical other firm.
    <br>
    For this example market your contract is CONTRACT A.
    <br>
    Thus, your total compensation is YOUR PROFIT + 100.
    <br>

</div>
{{ else }}
<div class="table-box">
    <h3 style="font-size: 20px;"><b>Allgemein </b></h3>
    Im Hauptteil des Experiments agieren Sie als Unternehmensleitung in 4 Märkten. Jeder Markt dauert mehrere Perioden.
    <br>
    In jedem Markt werden Sie mit einer anderen teilnehmenden Person gematcht. Ihnen werden Informationen über Ihren Vertrag, den Vertrag der teilnehmenden Person, mit der Sie gematcht sind, ein Rechner ähnlich dem auf der vorherigen Seite und Details über die Ergebnisse in den vorherigen Perioden gegeben.
    <br>
    <h3 style="font-size: 20px;"><b>Ihre Vergütung</b></h3>
    Nachdem Sie in vier Märkten im Hauptteil des Experiments Entscheidungen getroffen haben, werden wir zufällig einen Markt (von 4) auswählen und Ihnen die Gesamtvergütung aus diesem Markt auszahlen. Zusätzlich erhalten Sie auch Ihre Teilnahmegebühr von 5 EUR.
    <br>
    <b>Das Experiment verwendet einen Wechselkurs von {{ EXCHANGE_RATE }} Experimental Points (EP) = 1 Euro.</b>
    <br>
    <br>
    <h3 style="font-size: 20px;"><b>Dauer der Märkte</b></h3>
    <ul>
      <li>In zehn oder mehr Perioden werden Sie Entscheidungen treffen.</li>
      <li>Ihre Vergütung hängt davon ab, ob der Markt besteht oder nicht.</li>
      <li>Falls der Markt vor <b>10</b> Perioden endet, dann treffen Sie zwar in zehn Perioden Entscheidungen, jedoch werden für Ihre Vergütung nicht 10 Perioden berücksichtigt, sondern nur diejenigen Perioden bis Ende des Marktes.</li>
      <li>Falls der Markt nach <b>10</b> Perioden endet, dann treffen Sie Entscheidungen solange der Markt besteht und es werden für Ihre Vergütung alle Perioden bis Ende des Marktes berücksichtigt.</li>
      <li>In jeder Periode beträgt die Wahrscheinlichkeit, dass der Markt nach dieser Periode weiterhin besteht, <b>90%</b>.</li>
      <li>Diese Wahrscheinlichkeit wird wie folgt ermittelt: für jede Periode generiert der Computer eine Zufallszahl zwischen 1 und 10. Wenn eine Zahl für eine Periode 10 ist, dann endet der Markt.</li>
    </ul>
<h3 style="font-size: 20px;"><b>1. Vergütungsbeispiel </b></h3>
Angenommen, die Zufallsziehung (die Ihnen erst am Ende des Experiments gezeigt wird) lautet [1,5,1,6,8,2,9,1,10]. In diesem Beispiel spielen Sie 10 Runden, aber nur die ersten 9 sind relevant für die Vergütung. Das liegt daran, dass das zufällige Ergebnis 10 in Runde 9 auftrat.
<br>
Sie erhalten also die Summe der Vergütungen für die ersten 9 Runden.

<h3 style="font-size: 20px;"><b>2. Vergütungsbeispiel </b></h3>
Angenommen, die Zufallsziehung (die Ihnen erst am Ende des Experiments gezeigt wird) lautet [1,5,1,6,8,2,9,1,3,7,5,10]. In diesem Beispiel spielen Sie 12 Runden, und alle Runden sind relevant für die Vergütung. Das liegt daran, dass das zufällige Ergebnis 10 in Runde 12 auftrat.
<br>
Sie erhalten also die Summe der Vergütungen für alle 12 Runden.
<h3 style="font-size: 20px;"><b>Marktbeispiel</b></h3>
Unten sehen Sie ein Beispiel für den Markt, bei dem Sie die Mengen sowohl für sich selbst als auch für eine andere Firma wählen können.
<br>
Für diesen Beispielmarkt ist Ihr Vertrag <b> VERTRAG A: </b>
<br>
Daher beträgt Ihre Gesamtvergütung IHREN GEWINN + 100.
<br>
</div>
{{ endif }}




<div class="sub-container">
  <div class="calculator-box">
<meta name="viewport" content="width=device-width, initial-scale=2">
<style>
.responsive {
    width: auto;
    height: auto;
  }

  .slidecontainer {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .center {
    margin-left: 10%;
  }
  .slidertable { /*This is a table for slider and ticks */
     table-layout: fixed;
      width: 100%;
      max-width: 900px;
  }

  .infotable {
   border: 2px solid black;
    table-layout: fixed;
    width: 100%;
    padding: 10px;
    border-spacing: 5px;
  }
  .slides::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
  }

  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 25px;
  width: 13px;
  border-radius: 3px;
  background: #ff0000;
  cursor: pointer;
  margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 13px;
  border-radius: 3px;
  background: #ff0000;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 13px;
  border-radius: 3px;
  background: #ff0000;
  cursor: pointer;
}

  .slider {
    -webkit-appearance: none;
    width: 99%;
    /* <-- Problem was here when width is 100% */
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  .sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 2px;
    background: #D3D3D3;
    height: 10px;
    line-height: 40px;
    margin: 0 0 20 0;
  }

</style>


<div class="slidecontainer">
  <h3 style="font-size: 20px;"><b> {{ if en }} Firms' Profit Calculator {{ else }} Rechner {{ endif }}  </b></h3>
  <table class="slidertable">
    <tbody>
      <tr>
        <td style="text-align:center;">
          <h3 style="text-align: center;font-size: 18px;"><span style="color: inherit; font-family: inherit; background-color: initial;">{{ if en }}  If the other participant chooses: {{ else }} Wählt die andere teilnehmende Person: {{ endif }}  <span id="sliderFirmA"></span><br></span></h3>
        </td>
      </tr>
      <tr>
        <td>
          <input type="range" min="0" max="70" value="0" class="slider" id="sliderRangeA" step="1"></td>
      </tr>
      <tr>
        <td>
          <div class="sliderticks">
             <p>0</p>
            <p>10</p>
            <p>20</p>
            <p>30</p>
            <p>40</p>
            <p>50</p>
            <p>60</p>
            <p>70</p>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
  <table class="slidertable" style="margin-top:15px;">
    <tbody>
      <tr>
        <td style="text-align:center;">
          <h3 style="text-align: center;font-size: 18px;"><span style="color: inherit; font-family: inherit; background-color: initial;"> {{ if en }} And you choose: {{ else }} Und Sie wählen: {{ endif }}  <span id="sliderFirmB"></span><br></span></h3>
        </td>
      </tr>
      <tr>
        <td>
          <input type="range" min="0" max="70" value="0" class="slider" id="sliderRangeB" step="1"></td>
      </tr>
      <tr>
        <td>
          <div class="sliderticks">
               <p>0</p>
            <p>10</p>
            <p>20</p>
            <p>30</p>
            <p>40</p>
            <p>50</p>
            <p>60</p>
            <p>70</p>
          </div>
        </td>
      </tr>

    </tbody>
  </table>

<br>
  <h3 style="font-size: 16px;"><b> {{ if en }} Firms' profits and your compensation {{ else }} Unternehmensgewinne und Ihre Vergütung {{ endif }} </b></h3>

  <table class="infotable" style="text-align: center; margin-top: 10px; border-collapse: collapse;">

    <colgroup>
      <col style="width:25%; border: 1px solid black;">
      <col style="width:25%; border: 1px solid black;">
      <col style="width:15%; border: 1px solid black;">
      <col style="width:30%; border: 1px solid black;">
    </colgroup>

    <tbody>
    {{ if en }}
    <tr>
        <td><b>Other firm's profits</b></td>
        <td><b>My firm's profits</b></td>
        <td><b>My bonus</b></td>
        <td><b>My compensation</b></td>
    </tr>
     {{ else }}
    <tr>
        <td><b>Gewinn der anderen Firma</b></td>
        <td><b>Gewinn meiner Firma</b></td>
        <td><b>Mein Bonus</b></td>
        <td><b>Meine Vergütung</b></td>
    </tr>
     {{ endif }}
      <tr>
        <td><b><span id="firmAProfit"></span></b></td>
        <td><b><span id="firmBProfit"></span></b></td>
        <td><b><span id="my_bonusFirmB"></span></b></td>
        <td><b><span id="my_total_compensation"></span></b></td>
      </tr>
    </tbody>

  </table>
    <table class="infotable" style="text-align: center; margin-top: 10px;">
      <tbody>
        <tr>
          <td style="text-align: center;"> &nbsp; <b> <span id="messageContract"></span></b> </td>
        </tr>

      </tbody>
    </table>

</div>

  </div>

  <div class="table-box">
    <b><label for="userChoice">{{ if en }} Your quantity choice: {{ else }} Ihre Mengenauswahl: {{ endif }}</label> </b>
    <input type="number" id="userChoice" min="0" max="50">
    <br>
    <b><label for="userChoiceOther">{{ if en }} Quantity choice for the other firm: {{ else }} Mengenauswahl für das andere Unternehmen: {{ endif }}</label> </b>
    <input type="number" id="userChoiceOther" min="0" max="50">
    <br>
    <button id="chooseBtn">{{ if en }} Choose {{ else }} Wählen {{ endif }}</button>
    <br>
    <br>
    <h3 style="font-size: 20px;"><b> {{ if en }} Past History {{ else }} Frühere Ergebnisse: {{ endif }} </b></h3>
    <table>
    <thead>
    {{ if en }}
     <tr>
        <th>My output</th>
        <th>Other firm's output</th>
        <th>My firm's profit</th>
        <th>Other firm's profit</th>
        <th>My compensation</th>
      </tr>
     {{ else }}
    <tr>
        <td><b>Meine Produktion</b></td>
        <td><b>Produktion der anderen Firma</b></td>
        <td><b>Gewinn meiner Firma</b></td>
        <td><b>Gewinn der anderen Firma</b></td>
        <td><b>Meine Vergütung</b></td>
    </tr>
     {{ endif }}
    </thead>
    <tbody id="results">
    </tbody>
  </table>
  </div>
</div>

<div class="table-box">
<b> <span id="message_final"></span></b>
</div>

<div class="btn-container">
  {{ next_button }}
</div>




{{ endblock }}
